@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Create a new Product</h1>
<form method="post">
        <label>Description:</label>
        <input type="text" asp-for="DescriptionProduct"/>
        <input type="submit" value="Criar" />
</form>
